@charset "utf-8";

/* .brand_copy: 브랜드 섹션 스타일 */
.brand_copy {
  position: relative;
  width: 100%;
  height: auto;
  background: #f1f1f1;
  overflow: hidden;
  margin: 0 auto;
}

/* .brand_copy_bg: 배경 이미지 스타일 */
.brand_copy_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 0;
}

/* .brand_text: 브랜드 텍스트 스타일 */
.brand_text {
  position: relative;
  width: 100%;
  max-width: 1962px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: #000000;
  z-index: 1;
}

/* .brand_text > p: 설명 텍스트 스타일 */
.brand_text > p {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0.15em;
  color: #000000;
  padding: 0 50px;
}

/* .about_text, .contacts: 링크 스타일 */
.about_text,
.contacts {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  background: linear-gradient(to right, currentColor, currentColor) 0 100% / 100% 1px no-repeat;
  transition: background-size 0.3s ease-in-out;
  padding: 1px 0;
}

.about_text:hover,
.contacts:hover {
  background-size: 0 1px;
}

/* .separator: 'ABOUT'과 'CONTACTS' 사이의 구분선 스타일 */
.separator {
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  vertical-align: middle;
  margin: 0 10px;
}

.tap_link{
  padding: 20px 0;
}

/* 반응형 디자인 */

/* 태블릿 뷰 */
@media (max-width: 768px) {
  .brand_text {
    padding: 10px;
  }

  .brand_text > p {
    font-size: 16px;
    line-height: 28px; /* 줄 높이 조정 */
    padding: 0 30px; /* 좌우 패딩 조정 */
  }

  .about_text,
  .contacts {
    font-size: 14px;
    line-height: 18px;
  }

  .separator {
    height: 18px; /* 구분선 높이 조정 */
  }
}

/* 모바일 뷰 */
@media (max-width: 480px) {
  .brand_text {
    padding: 5px;
  }

  .brand_text > p {
    font-size: 13px;
    font-weight: 600;
    line-height: 24px; /* 줄 높이 조정 */
    padding: 0 20px; /* 좌우 패딩 조정 */
  }
  .about_text,
  .contacts {
    font-size: 12px;
    line-height: 16px;
  }

  .separator {
    height: 16px; /* 구분선 높이 조정 */
  }
}
