@charset "utf-8";

/* 컨테이너 스타일링 */
.container_ft {
    --distance-to-bleed: max(var(--container-gutter), 50% - var(--container-max-width) / 2);
    margin-inline-start: max(var(--container-gutter), 50% - var(--container-max-width) / 2);
    margin-inline-end: max(var(--container-gutter), 50% - var(--container-max-width) / 2);
    max-width: 100%;
    margin: 0 8%;
    
}

.footer {
    background: rgb(var(--background));
    color: rgb(var(--text-color));
    padding-block-start: var(--section-vertical-spacing);
    padding-block-end: min(var(--section-vertical-spacing), 3rem);
    background-color: #f1f1f1;;
}

/* 푸터 내부 스타일링 */
.footer__inner {
    row-gap: min(var(--section-vertical-spacing), 3rem);
    display: grid;

}

/* 푸터 블록 리스트 스타일링 */
.footer__block-list {
    justify-content: start;
    align-items: start;
    gap: min(var(--section-vertical-spacing), 2.5rem);
    display: grid;
}

/* 푸터 블록 기본 스타일링 */
.footer__block {
    padding: 1rem;
}

/* 링크 블록 스타일링 */
.footer__block--links > p {
    font-size: 13px; /* 폰트 크기 */
    font-weight: 400; /* 폰트 두께 */
    color: #1c1b1b; /* 텍스트 색상 */
    font-family: 'Open Sans', sans-serif; /* 폰트 변경 */
}
.v-stack > p{
    letter-spacing: 0.1em;
    font-size: 14px; /* 폰트 크기 */
    font-weight: 700; /* 폰트 두께 */
    color: #1c1b1b; /* 텍스트 색상 */
    font-family: 'Open Sans', sans-serif; /* 폰트 변경 */
}
.text-subdued {
    color: rgb(var(--text-color) / .65);
}
.prose {
    overflow-wrap: anywhere;
}
.gap-4 {
    gap: 1rem;
}
.v-stack {
    grid-template-columns: minmax(0, 1fr);
    align-content: start;
    display: grid;
}

footer .footer__block .v-stack > p {
    font-size: 13px;
    font-weight: 400;

}

.link-faded {
    font-size: 13px;
    color: #6a6a6a;
    text-decoration: none;
    line-height: 30px;
}
.prose{
    font-size: 14px;
    color: #6a6a6a;
    text-decoration: none;
    line-height: 30px;
}
.number{
    font-size: 14px;
    color: #6a6a6a;
    text-decoration: none;
    line-height: 30px;
}
.address{
    font-size: 14px;
    color: #6a6a6a;
    text-decoration: none;
    line-height: 30px;
}

footer .social-media {
    margin-top: 20px;
}

.social-media--list .social-media__item {
    opacity: .65;
    transition: opacity .2s, color .2s;
}

.branding-colors--instagram {
    --branding-background: 195 42 163;
    --branding-color: 255 255 255;
margin-top: 10px;
}

.branding-colors--pinterest {
    --branding-background: 189 8 28;
    --branding-color: 255 255 255;
    margin-top: 10px;
}

.tap-area{
    color: #6a6a6a;
    transition: all 0.2s;
}
.tap-area:hover{
    color: #161616;
}
.social-media--list {
    align-items: center;
    gap: var(--social-media-list-gap, .75rem 2rem);
    flex-wrap: wrap;
    display: flex;
}
.unstyled-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

#input{
    width: 100%;
    height: 45.88px;
    padding: 10.4px 12.8px;
    background: none;
    border: 0.1px solid #010101;
    opacity: 0.4;
}

/* 버튼 기본 스타일 */
.button {
    width: 146.33px;
    height: 44.22px;
    border: 1px solid #010101;
    color: #f1f1f1;
    background-color: #010101; /* 기본 배경색 */
    margin-top: 10px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    overflow: hidden; /* 배경이 버튼을 벗어나지 않게 함 */
    position: relative;
    background-image: linear-gradient(to right, transparent, transparent); /* 기본 배경 이미지 */
    background-size: 200% 100%; /* 배경 크기 설정 */
    background-position: left bottom; /* 기본 위치 */
    transition: color .45s cubic-bezier(.785,.135,.15,.86), 
                border-color .45s cubic-bezier(.785,.135,.15,.86), 
                background-position .45s cubic-bezier(.785,.135,.15,.86); /* 배경 위치 변화 추가 */
}

/* 버튼 기본 배경 이미지 설정 */
.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f1f1f1; /* 호버 시 표시될 배경색 */
    z-index: 0;
    transition: transform .45s cubic-bezier(.785,.135,.15,.86);
    transform: translateX(-100%); /* 기본 상태에서 왼쪽으로 이동 */
}

/* 버튼 텍스트와 테두리 스타일 */
.button {
    position: relative;
    z-index: 1; /* 버튼의 텍스트가 배경 위에 오도록 함 */
}

/* 버튼 호버 스타일 */
.button:hover {
    color: #010101 ; /* 호버 시 텍스트 색상 변경 */
    border-color: #010101; /* 호버 시 테두리 색상 변경 */
    background-position: right bottom; /* 호버 시 배경 위치 */
}

.button:hover::before {
    transform: translateX(0); /* 호버 시 배경이 왼쪽에서 오른쪽으로 이동 */
    color: #010101;
}


/* 사용자 인터페이스가 세밀한 경우의 버튼 스타일 */
@media screen and (pointer: fine) and (prefers-reduced-motion: no-preference) {
    .features--button-transition :is(.button, .shopify-challenge__button, .shopify-payment-button__button--unbranded):not([disabled]):hover {
        color: rgb(var(--button-background, 0, 0, 0));
        background-position: var(--hover-background-position);
        border-color: rgb(var(--button-background, 0, 0, 0));
        background-size: 0 100%, 100% 100%;
    }
}

/* 미디어 쿼리 - 화면 너비가 1150px 이상인 경우 */
@media screen and (min-width: 1150px) {
    .footer__block-list {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* 열의 최소 너비를 조정하여 더 넓은 화면에서 더 많은 블록을 보여줍니다 */
        column-gap: 3.75rem; /* 열 간격 */
    }
}

/* 미디어 쿼리 - 화면 너비가 700px 이상인 경우 */
@media screen and (min-width: 700px) {
    .container {
        margin: 0 4%;
    }
    .footer__block--links, .footer__block--image {
        flex-grow: 0;
        max-width: 14rem;
    }
    .footer__block {
        flex: auto;
    }
}
