@charset "utd-8";

.wrap .header-wrap{
    position: relative;
}
.wrap .header-wrap .header{
    z-index: 9999999999999;
    position: fixed;
        top: 0;
    width: 100%;
    height: 23px;
    padding: 5px;
    font-size: 12px;
    background-color: rgb(231, 231, 231);
    text-align: center;
}