@charset "utf-8";


/* 모바일 버튼 */
.m-menuBt{
    display: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.m-menuBt > i{
    color: white;
}

/* 카트 버튼 */

/* 닫기 버튼 */
.closeBt-m{
    width: 30px;
    height: 30px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.closeBt-c{
    text-align: right;
    width: 30px;
    height: 30px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}


/* 모바일 메뉴 */
.m-menu{
    position: fixed;
    top:0;
    left: 0;
    width: 400px;
    height: 100%;
    background-color: #f1f1f1;
    z-index: 10;
    display: none;
    animation: menuMoving 0.5s infinite;
    animation-iteration-count : 1 ;
}
.m-menu.m-menuActive{
    display: block;
}

.m-menu > ul > li{
    margin: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.m-menu > ul > li > h2{
    font-size: 13px;
    letter-spacing: 0.1em;
}
@keyframes menuMoving {
	0% { 
		transform: translateX(-100%);
	}
	100% {          
        transform: translateX(-0);
	}
}

/* 카트 리스트 */
.cartList{
    position: fixed;
    top: 23px;
    right: 0;
    width: 400px;
    height: 100%;
    background-color: #f1f1f1;
    z-index: 10;
    display: none;
    animation: cartMoving 0.5s infinite;
    animation-iteration-count : 1 ;
}
.cartList.c-menuActive{
    display: block;
}

@keyframes cartMoving {
	0% { 
		transform: translateX(100%);
	}
	100% {          
        transform: translateX(0);
	}
}

@media screen and (max-width: 1024px) {
    .m-menuBt{
        display: block;
    }
}