@charset "utf-8";
a {
  font-size: 13px;
  color: white;
  text-decoration: none;
}



/* 미니로고 */
.mini_logo{
  height:30px;
  margin: 22px 20px 20px 0; 
}
.mini_logo img{
  height: 100%;
}

/* 헤더 메인 백그라운드 */
.wrap .header-wrap .main-section {
  margin-top: 23px;
  width: 100%;
  max-height: 1000px;
  height: 80vw;
  background: url("../img/main1.png") no-repeat center;
  background-size: cover;
  z-index: -1;
}
.wrap .header-wrap .main-section .menu-hover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrap .header-wrap .main-section .menu-hover {
  transition: background 0.2s, color 0.2s, border 0.2s, box-shadow 0.2s;
}
.wrap .header-wrap .main-section .menu-hover:hover {
  background-color: white;
  /* transition: background .2s, color .2s, border .2s, box-shadow .2s; */
}


/* 헤더 메인 메뉴 */
.header-menu > .head-menu-listWrap {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  grid-area: primary-nav;
  /* align-items: center; */
  /* gap: .625rem 1.25rem; */
  gap: 30px;
}
/* 헤더 메인 메뉴 리스트 */
/* .head-menu-listWrap li:hover{
    background-color: white;
    } */


.menu-hover {
  padding: 0 40px;
  letter-spacing: 0.1em;
}
.menu-hover.white-fixed{
  background-color: white;
  position: absolute;
  top:-73px;
  width: 100%;
  z-index: 99999999;
}
.menu-hover.white-fixed li > a > h2{
  color: rgb(0, 0, 0);
}
.menu-hover.white-fixed  i {
  color: rgb(0, 0, 0);
}
.menu-hover.white-fixed  button > i {
  color: rgb(0, 0, 0);
}


.head-menu-listWrap > li {
  height: 73px;
  padding: 30px 0;
}
.menu-hover:hover li > a > h2 {
  color: rgb(0, 0, 0);
}
.menu-hover:hover i {
  color: rgb(0, 0, 0);
}
.menu-hover:hover button > i {
  color: rgb(0, 0, 0);
}



/* 헤더 서브 메뉴 리스트 */
.subDisplay {
  z-index: 9;
  opacity: 0;
  display: none;
  transition: all 0.3s ease-out;

}
@keyframes subdis{
  0%{
    display: none;
    opacity: 0;
  }
  100%{
    display: block;
    opacity: 1;
  }
}

.header-menu > .head-menu-listWrap > li:hover > .subDisplay {
  opacity: 1;
  display: block;
  z-index: 99;
  animation: subdis 0.4s infinite;
  animation-iteration-count : 1 ;
}
.header-menu > .head-menu-listWrap > li:hover > .subDisplay.hidden {
  display: block;
}
.header-menu > .head-menu-listWrap > li > .subHover > h2 {
  position: relative;
}
.header-menu > .head-menu-listWrap > li > .subHover > h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -30px;
  background-color: rgb(0, 0, 0);
  width: 0;
  height: 3px;
  transition: all 0.2s;
}
.header-menu > .head-menu-listWrap > li:hover > .subHover > h2::after {
  width: 100%;
}
/* .subDisplay:hover{
    display: block;
} */
.header-submenu {
  display: flex;
  justify-content: center;
  gap: 85px;
  width: 100vw;
  padding: 35px 0;
  position: absolute;
  top: 73px;
  left: 0;
  background-color: white;
  text-align: left;
  z-index: 9999999999;
  box-shadow: 0 2px 2px 1px #00000025;
}
.header-submenu a {
  letter-spacing: 0.1em;
}
.header-submenu > li > h4 {
  /* 서브 메뉴 메인 제목 */
  padding-bottom: 20px;
  font-weight: 500;
}
.header-submenu li a {
  /* 서브 메뉴 리스트 폰트 컬러 */
  color: black;
}
.header-submenu > li > ul > li > a {
  line-height: 2;
  color: rgb(150, 150, 150);
}
.header-submenu > li > ul > li:hover > a {
  line-height: 2;
  color: rgb(0, 0, 0);
}
.header-submenu > li > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.subHover {
  position: relative;
}
/* 서브메뉴 이미지 */
.subtwinImg-w > .subtwinImg {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.sub-imgWrap {
  width: 315px;
  height: 196px;
  background-color: aquamarine;
  position: relative;
  overflow: hidden;
}
.sub-imgWrap img {
  height: 100%;
  position: absolute;
  transition: all 3s cubic-bezier(0, 0, 0.9, 1);
}
.sub-imgWrap:hover img {
  transform: scale(1.2);
}
.sub-imgText {
  text-align: center;
}

/* 인테리어 서브 메뉴 리스트 "1108" */

.subtwinText-i{
  display: flex !important;
  flex-direction: row !important;
  gap: 85px !important;
}
.subtwinText-i > li > h4 {
  /* 서브 메뉴 메인 제목 */
  padding-bottom: 20px;
  font-weight: 500;
}
.subtwinText-i > li > ul > li > a {
  line-height: 2;
  color: rgb(150, 150, 150);
}
.subtwinText-i > li > ul > li:hover > a {
  line-height: 2;
  color: rgb(0, 0, 0);
}
.subtwinText-i > li > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/* 헤더 메인 아이콘 */
.header-icon {
  display: flex;
  align-items: center;
}
.header-icon > .head-icon-listWrap{
    display: flex;
    gap: 20px;
    color: white;
}
/* 메인 로고 */
.main-logo {
  width: 100%;
  height: 100%;
  position: relative;
}
.main-logo.logo-margin{
  margin-top: 96px;
}
.main-logo img {
  width: 40%;
  position: absolute;
  top: calc(50% - 90px);
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(1px 1px 2px #00000042);
}

.search-bar{
  z-index: 9;
  width: 100%;
  height: 100px;
  position: absolute;
  top:73px;
  left: 0;
  background-color: #fff;
  opacity: 0;
}
.search-bar.search-active{
  opacity: 1;
  animation: search-MovingA 0.5s infinite;
  animation-iteration-count : 1 ;
}
@keyframes search-MovingA {
	0% { 
		transform: translateY(-100%);
    opacity: 0;
	}
	100% {          
    transform: translateY(0);
    opacity: 1;
	}
}


.search-bar-form{
  display: flex;
  width: 100%;
  max-width: 1600px;
  margin: 50px auto;
  height: 40px;
  background-color: aqua;
}
.search-bar-form input{
  flex:1;
  font-size: 25px;
  border: none;
  outline: none;
}
.search-bar-form input:placeholder-shown{
  font-size: 19px;
  font-weight: 350;
  letter-spacing: 0.2em;
  font-family: "Open Sans", sans-serif;
}
.search-bar-btn{
  border: none;
  background-color: white;
  width: 40px;
  height: 40px;
}
.search-bar-xbtn{
  border: none;
  background-color: white;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 1400px) {
  .header-submenu{
    gap: 36px;
  }
  .subtwinText-i{
    gap: 36px !important;
  }
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1108px) {
  .subtwinText-i{
    display: flex !important;
    flex-direction: column !important;
    gap: 36px !important;
  }
}
@media screen and (max-width: 1024px) {
  .menu-hover{
    height: 73px;
  }
  .header-menu{
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .wrap .header-wrap .main-section .menu-hover:hover {
    background-color:rgba(255, 255, 255, 0);
  }
  .menu-hover:hover li > a > h2 {
    color: rgb(255, 255, 255);
  }
  .menu-hover:hover i {
    color: rgb(255, 255, 255);
  }
  .menu-hover:hover button > i {
    color: rgb(255, 255, 255);
  }

  .menu-hover{
    padding: 0 30px;
  }
}
@media screen and (max-width: 480px) {
  .menu-hover{
    padding: 0 20px;
  }
  .menu-hover{
    height: 60px;
  }
}
