@charset "utf-8";
.menu-1{
    width: 100%;
    position: relative;
    /* max-height: 1000px;
    height: 80vw; */
}
/* 스와이퍼 구역 */
.colorinterior{
    width: 70%;
    height: 48.5vw;
    margin: 0 auto;
}
.colorSwiper{
    width: 100%;
    height: 100%;
}
/* 슬라이드 세션 */
.colorSwiper > .swiper-wrapper >.swiper-slide{
    width: 100%;
    height: 100%;
    display: flex;
        align-items: center;
    gap: 2%;
    overflow: hidden;
}


/* 메인 이미지 ================================================================================================================================*/
.colorSwiper > .swiper-wrapper >.swiper-slide> .colorSwiper-mainImg{
    position: relative;
    width: 100%;
    height: 48.5vw;
    display: flex;
}
.colorSwiper-mainImg img{
    width: 100%;
    display: none;
}
.colorSwiper-mainImg img.active {
    display: block;
}







/* 설명 및 서브 이미지 구역 */
.colorSwiper-contents{
    display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6%;
    width: 100%;
    height: auto;
}

/* 설명(택스트) */
.colorSwiper > .swiper-wrapper >.swiper-slide> .colorSwiper-contents > .colorSwiper-subText{
    width: 100%;
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 13px;
    text-align: center;
    margin-bottom: 20px;
}
.colorSwiper-subText > h2{
    font-size: 20px ;
    font-weight: 700;
    letter-spacing: 0.15rem;
}
.colorSwiper-subText > p{
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.09em;
}
.colorSwiper-subText .sub_link_txt> a{
    color: black;
}
.colorSwiper-subText .sub_link_txt{
    width: 86px;
    display: inline-block; /* 인라인 블록 요소로 설정 */
    font-family: "Open Sans", sans-serif; /* 폰트 설정 */
    font-weight: 400; /* 폰트 두께 설정 */
    font-size: 15px; /* 폰트 크기 설정 */
    line-height: 20px; /* 줄 높이 설정 */
    letter-spacing: 0.09em; /* 문자 간격 설정 */
    color: rgba(0, 0, 0, 0.6); /* 텍스트 색상 설정 */
    text-decoration: none; /* 기본 상태에서 밑줄 제거 */
    background: linear-gradient(to right, currentColor, currentColor) 0 100% / 100% 1px no-repeat; /* 배경 선의 위치 및 크기 설정 */
    transition: background-size 0.3s ease-in-out; /* 배경 사이즈 변화에 대한 부드러운 트랜지션 */
    padding: 3px 0; /* 수직 패딩으로 링크와 텍스트 간격 조정 */
}
.sub_link_txt:hover {
    background-size: 0 1px; /* 배경 선의 크기를 0으로 설정하여 사라지게 함 */
}


/* 서브 이미지1 */
.colorSwiper > .swiper-wrapper >.swiper-slide> .colorSwiper-contents > .colorSwiper-subImg{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
        gap: 4%;
}
.colorSwiper > .swiper-wrapper >.swiper-slide> .colorSwiper-contents > .colorSwiper-subImg > .cssi-1{
    width: 100%;
    height: 100%;
    max-height: 450px;
    overflow: hidden;
}
.colorSwiper > .swiper-wrapper >.swiper-slide> .colorSwiper-contents > .colorSwiper-subImg > .cssi-1 img{
    width: 100%;
}
.colorSwiper-subImg .cssi-1 img{
    display: none;
}
.colorSwiper-subImg .cssi-1 img.active1{
    display: block;
}
/* 서브 이미지2 */
.colorSwiper > .swiper-wrapper >.swiper-slide> .colorSwiper-contents > .colorSwiper-subImg > .cssi-2{
    width: 100%;
    height: 100%;
    max-height: 450px;
    overflow: hidden;
}
.colorSwiper > .swiper-wrapper >.swiper-slide> .colorSwiper-contents > .colorSwiper-subImg > .cssi-2 img{
    width: 100%;
}
.colorSwiper-subImg .cssi-2 img{
    display: none;
}
.colorSwiper-subImg .cssi-2 img.active2{
    display: block;
}





/* 컬러 버튼 */
.colorSwiper-colorBtn{
    margin-top: 15px;
    width: 100%;
    height: 25px;
    /* background-color: aqua; */
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
.colorSwiper-colorBtn > .colorBtn{
    display: block;
    width: 25px;
    height: 25px;
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 1px 3px 1px #00000040;
}
#red{
    background-color: red;
    width: 75%;
}
#white{
    background-color: #ccc;
}
#yellow{
    background-color: yellow
}
#blue{
    background-color: blue
}
#black{
    background-color: black
}



/* 포커스 라인 */
.focusLine{
    width: 0;
    margin: 2% auto;
    height: 2px ;
    background-color: black;
    transition: all 1s
}
.focusLine.active{
    width: 90%;
    margin: 2% auto;
    height: 2px ;
}

@media screen and (max-width:1400px){
    .colorSwiper > .swiper-wrapper >.swiper-slide> .colorSwiper-contents > .colorSwiper-subImg{
        width: 100%;
        height: 80%;
        max-height: 360px;
        overflow: hidden;
        display: flex;
            align-items: flex-end;
            gap: 4%;
    }
}
@media screen and (max-width:1280px){
    .colorinterior{
        width: 80%;
        height: auto;
    }
    .colorSwiper > .swiper-wrapper >.swiper-slide> .colorSwiper-mainImg {
        height: auto;
    }
    .colorSwiper > .swiper-wrapper >.swiper-slide> .colorSwiper-contents > .colorSwiper-subImg{
        width: 100%;
        height: 90%;
        display: flex;
            align-items: flex-end;
            gap: 4%;
    }
}
@media screen and (max-width:1024px){
    .colorinterior{
        width: 90%;
        height: auto;
    }
    .colorSwiper > .swiper-wrapper >.swiper-slide> .colorSwiper-mainImg {
        height: auto;
    }
}
@media screen and (max-width:960px){
    .colorSwiper-subText > h2{
        font-size: 16px ;
    }
    .colorSwiper-subText > p{
        font-size: 14px;
    }
    .colorSwiper-subText> a{
        font-size: 13px;
    }
    .colorSwiper-contents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6%;
        width: 100%;
        height: auto;
    }
    .colorSwiper-subImg{
        height: auto;
        overflow: hidden;
    }
}
@media screen and (max-width:768px){
    .colorSwiper-mainImg{
        margin-top: 190px;
    }
    .colorSwiper-subImg{
        display: none !important;
    }
    .colorSwiper-contents {
        height: 5px;
        padding: 15px 0 20px 0;
    }
    .colorSwiper-contents > .colorSwiper-subText{
        position: absolute;
        top: 25px;
    }
    .colorSwiper-subText > p{
        font-size: 14px;
        font-weight: 300;
        line-height: 1.4;
        letter-spacing: 0.09em;
    }
    .colorinterior{
        width: 90%;
        height: auto;
    }
    .colorSwiper > .swiper-wrapper >.swiper-slide{
        flex-direction: column
    }
    .colorSwiper > .swiper-wrapper >.swiper-slide{
        position: relative;
    }
}
@media screen and (max-width:420px){
    .colorSwiper-mainImg{
        margin-top: 180px;
        height: 400px !important;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    .colorSwiper-contents > .colorSwiper-subText{
        position: absolute;
        top: 25px;
    }
    .colorSwiper-subText > h2{
        font-size: 14px ;
    }
    .colorSwiper-subText > p{
        font-size: 12px;
    }
    .colorSwiper-subText> a{
        font-size: 12px;
    }
    .colorSwiper-subImg{
        height: 170px;
        overflow: hidden;
        align-items: center !important;
    }
}